<h2 mat-dialog-title>{{ data.title}}

</h2>
<form [formGroup]="form">
<mat-dialog-content class="content-grid">
    <div class="row two-columns">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name"  >
            <mat-error *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)">
            Nombre es obligatorio.
            </mat-error>
        </mat-form-field>
            <mat-form-field>
            <mat-label>Rut</mat-label>
            <input matInput formControlName="dni" (input)="onInputRut($event)"
         maxlength="12">
            <mat-error *ngIf="form.controls.dni.hasError('required')">
                RUT es obligatorio
            </mat-error>
            <mat-error *ngIf="form.controls.dni.hasError('invalidRut')">
                RUT inválido
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row full-width">
        <mat-form-field>
        <mat-label>Correo</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)">
            <ng-container *ngIf="form.controls.email.hasError('required')">Correo es obligatorio.</ng-container>
            <ng-container *ngIf="form.controls.email.hasError('email')">Formato de correo inválido.</ng-container>
            </mat-error>
        </mat-form-field>
    </div>

    <ng-container *ngIf="data?.contact?.label.length > 0; else templateElse">
    <div class="row full-width">
            <mat-label>Etiquetas</mat-label>
            <mat-chip-set aria-label="Etiquetas">
                    <mat-chip *ngFor="let tag of data.contact.label" color="primary" selected>
                    {{ tag }}
                    </mat-chip>
                    </mat-chip-set>
        </div>
    </ng-container>   
    <ng-template #templateElse>
    <mat-form-field>
            <mat-label>Etiquetas</mat-label>
            <mat-select formControlName="label" multiple>
                @for (label of labelList; track label) {
                <mat-option [value]="label">{{label}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </ng-template> 
 
</mat-dialog-content>
</form>
<mat-dialog-actions class="row two-columns-buttons">
    <button mat-stroked-button mat-dialog-close>Cancelar</button>
    <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="save()">Aceptar</button>
        
    
</mat-dialog-actions>
